.elipse {
  border-width: 2.042px;
  border-color: rgb(61, 108, 176);
  border-style: solid;
  border-radius: 50%;
  position: relative;
  left: 100px;
  top: 50px;
  width: 150px;
  height: 150px;
}

.elipse_copia {
  border-radius: 50%;
  background-color: rgb(61, 108, 176);
  position: absolute;
  width: 140px;
  height: 140px;
  top: 50%;
  left: 50%;
  margin: -70px 0px 0px -70px;
}

.p1{
	margin-top:155px;
	margin-bottom:50px;
	width:150%;
	font-size:13px;
	text-align: center;        
	position: relative;        
	left: -100%; 
}





