.main{
	margin:0 auto;
	width:100%;
}

.header{
	width:100%;
	background:lightgrey;

}

.menu{
	background:#333;
	color:white;
	margin-bottom:5px;
	width:100%;
	
	list-style-type: none;
	float:left;
	background:#333;
	color:white;
	margin-right:50px;
	text-align:left;
}

.header-menu{
display:inline-block;
}

.menu li{
	display: inline-block;
}

.menu-item{
	padding-right:25px;
}

.content{
	padding-top:25px;
	margin-left:50px;
	float:left;
	width:50%;
}

.content p{
	width:100%;
}

.epam-logo{
	background-image: url("epam-logo.png");
	width:330px;
	height:120px;
	display:inline-block;
}

.navigation{
	float:left;
	background:#333;
	color:white;
	border: 10px solid lightgrey;
	padding-left:25px;
	padding-right:25px;
	
	float:left;
	background:#333;
	color:white;
	overflow:hidden;
	width:20%;
}

.navigation ul{
	    list-style-type: none;
}

.menu li:hover{
	background:white;
	color:black;
	cursor:pointer;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.menu li {
    float: left;
	    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navigation tr{

	margin-top:25px;
	margin-bottom:25px;
}

.navigation li{
	padding:20px;
}

.navigation li:hover, .menu li:hover{
	background:white;
	color:black;
	cursor:pointer;
}

.table{
	border:1px solid black;
}

.table tr{
	border:1px solid black;
	padding-right:50px;
}

.table td{
	border:1px solid black;
	padding-right:150px;
}

.table th{
		border:1px solid black;
			padding-right:50px;
			background:lightgrey;
}
.footer{
    position: relative;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
	margin-top:40px;
	text-align:center;
	background:lightgrey;
	color:blue;
}

.level{
	color:grey;
	font-weight:bold;
}

@media (max-width: 768px) 
{ 
	.navigation{
	 	background:#333;
		color:white;
		margin-bottom:5px;
		width:100%;
		
		list-style-type: none;
		float:left;
		background:#333;
		color:white;
		margin-right:50px;
		text-align:left;
	}
	.navigation ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		background-color: #333;
	}

	.navigation li {
		float: left;
		   display: block;
		color: white;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
	}

	.table tr{
		border:1px solid black;
		padding-right:0px;
	}

	.table td{
		border:1px solid black;
		padding-right:0px;
	}

	.table th{
		border:1px solid black;
		padding-right:0px;
		background:lightgrey;
	}
}
