.customFieldset  {
	margin: auto;
    background-color: #cce6ff;
	width: 400px;
	border: 1.25px solid black
}
.bordered {
	padding-top: 15px;
	padding-bottom: 15px;
    border-bottom: 2px dashed lightblue;
}
form label {
	display:block;
	float:left;
	width:150px;
}
input[type="text"] {
    width: 200px;
}
input[type="password"] {
    width: 200px;
}
button{
	display:block;
    margin: 0 auto;
	height:30px;
}
.formated {
	padding-top: 15px;
	padding-bottom: 15px;
}
.smallSelect{
	width:50px
}
.mediumSelect{
	width:80px
}



