.table{
	display:table;
	border-top: 1px solid gray;
	border-left: 1px solid gray;
	border-right: 1px solid gray;
}
.row{
	display:table-row;
}
.row-gray{
	display:table-row;
	background-color: lightgray;
}
.cell{
	display:table-cell;
	padding: 10px;
	border-bottom: 1px solid gray;
}
.header {
	display:table-cell;
	padding: 10px;
	font-weight: bold;
	border-bottom: 1px solid gray;
}