.layer1{
	position:relative;
	z-index:2;
	font-size:60px;
	color:black;
}
.layer2{
	position:relative;
	z-index:1;
	font-size:60px;
	color:orange;
	top:-50px;
	right:-50px;
}
.layer3{
	position:relative;
	z-index:3;
	font-size:60px;
	color:black;
}
.layer4{
	position:relative;
	z-index:4;
	font-size:60px;
	color:orange;
	top:-50px;
	right:-50px;
}